body {
  background-color: #f8f9fa; /* Gris muy claro */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Barra de navegación */
.navbar {
  background-color: #343a40; /* Gris oscuro */
}

.navbar-brand, .navbar-nav .nav-link {
  color: #F7DC6F !important; /* Amarillo patito */
}

/* Pie de página */
footer {
  background-color: #343a40; /* Gris oscuro */
  color: #F7DC6F;
}

/* Formularios */
form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Botones primarios */
.btn-primary {
  background-color: #F7DC6F; /* Amarillo patito */
  border-color: #F7DC6F;
  color: #343a40; /* Texto en gris oscuro */
}

.btn-primary:hover {
  background-color: #F1C40F; /* Una tonalidad ligeramente distinta para el hover */
  border-color: #F1C40F;
}

