body {
  background-color: #f8f9fa; /* Gris muy claro */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Sobrescribe la clase bg-primary en la navbar */
.navbar.bg-primary {
  background-color: #343a40 !important; /* Gris oscuro */
}

/* Cambia el color de los enlaces en la navbar a amarillo patito */
.navbar-brand,
.navbar-nav .nav-link {
  color: #F7DC6F !important; /* Amarillo patito */
}

/* Pie de página: gris oscuro con texto amarillo patito */
footer {
  background-color: #343a40 !important;
  color: #F7DC6F !important;
}

/* Botones primarios en amarillo patito con texto gris oscuro */
.btn-primary {
  background-color: #F7DC6F !important;
  border-color: #F7DC6F !important;
  color: #343a40 !important;
}

.btn-primary:hover {
  background-color: #F1C40F !important; /* tonalidad ligeramente distinta */
  border-color: #F1C40F !important;
}



